.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #201192;
    color: white;
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-buttons {
    display: flex;
    gap: 15px;
  }
  
  .navbar-button {
    padding: 10px 20px;
    background-color: #593ec5;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-button:hover {
    background-color: #7654de;
  }